# Temporary folders
**/*-backups/*
**/datasheets/*

# Design files
*.afdesign

# FreeCAD models
*.FCStd1

# PNG files should be converted to small JPGs
# with the utility in the main medjed repo
*.png
*.PNG

# SVG exports of board or schematic should also 
# be stored as small jpg
*board.svg

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
**/#*#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml